body {
  background: url("./gascatv2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  font-family: inherit;
}

html {
  height: 100%;
  /*width: 100%;*/
  font-size: 14px;
  /* font-family: "Courier Prime"; */
  font-family: 'Major Mono Display', monospace;
}

#mycontent {
  text-align: center;
  padding-top: 10%;
}

h1 {
  font-size: 300%;
  font-weight: bold;
  text-shadow: 4px 4px 4px black;
}

h2 {
  font-size: 110%;
}

.navbar-default {
  background-color: #f8f8f800;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}

hr {
  border-top: 1px solid black;
  width: 50%;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #000000;
}

/* This doesn't work if you don't explicitly include a distinct font weight with google fonts cdn. But some fonts don't have font weight options.*/
/* using <strong> tags has no effect on the google font either.*/
/* p {
  font-weight: bold; 
} 
*/