html {
  height: 100%;
  font-size: .8rem;
  font-family: 'Major Mono Display', monospace;
}

body {
  background: url("./gascatv2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  font-family: inherit;
}

nav {
  margin-bottom: 15%;
  border-bottom: 1px solid black;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px #343A40;
}

.navbar-brand {
  font-size: 1.44rem;
}

.nav-link {
  font-size: 1.1rem;
  padding: 10px;
}

.navbar-light .navbar-toggler {
  /* Give the hamburger a border. */
  border-color: black; 
  border-radius: 1rem;
  box-shadow: 1px 1px 5px #343A40;
}

.navbar-light .navbar-nav .active>.nav-link {
  /* active nav tab style */
  color: white; 
  background-color: #343A40;
}

h1 {
  font-size: 300%;
  text-shadow: 4px 4px 4px black;
}

h2 {
  font-size: 110%;
}

hr {
  border-top: 1px solid black;
  width: 50%;
}