
body {
  /*background-color: transparent;*/
  background-image: url("./gascatv2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

canvas {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}