<%- include("partials/header.ejs") %>

<h1>Babu Frick, can you help us with this?</h1>
<p>Droid remember go blank, blank, blank.</p>
<img src="http://devtest.localhost/gascatv1.png" alt="your mouth, balls in"> 

<%- include("partials/footer.ejs") %>