<%- include("partials/header.ejs") %>

<h1>How much did the locnas monster want? ... Tree fitty.</h1>
<h1>C3PO: There must be some other way? <%= robotName  %></h1>
<p>Babu Frick: Yup Droid is ready! HeyHayyy!</p> 
<% if(robotName === "walle") { %>
<h1> this is not a star wars robot. </h1>
<% } %>
<img src="http://devtest.localhost/gascatv1.png" alt="your mouth, balls in"> 

<%- include("partials/footer.ejs") %>