<%- include("partials/header.ejs") %>

<h1>Hay buddy, this is the login page.</h1>
<form action="/login" method="POST">
  <input type="text" name="username" placeholder="user brah">
  <input type="password" name="password" placeholder="password brah">
  <input type="submit" value="Login!">
</form>

<%- include("partials/footer.ejs") %>