<!-- YelpCamp = YelpNutrition-->

<%- include("partials/header.ejs") %>

<h1>Add a new nutrition entry</h1>

<p>Suck my balls, I like Oreos.</p>

<form action="/campgrounds" method="POST">
<input type="text" placeholder="Name" name="name">
<input type="text" placeholder="Image URL" name="image">
<button>Add</button>
</form>
<p>That's why you're a fat fuck.</p>
<a href="/campgrounds">Go back to list.</a>
<%- include("partials/footer.ejs") %>