<!-- YelpCamp = YelpNutrition-->

<%- include("partials/header.ejs") %>

<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade w-25 mx-auto" data-ride="carousel">
  <div class="carousel-inner w-100">
    <div class="carousel-item active m-0 w-100">
        <img src="./slide_1.JPG" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block landing-header">

          <h1>Landing Page!</h1>

          <h3>Welcome to YelpNutrition.</h3>

          <p><a class="btn btn-success" href="/campgrounds">View all nutrition.</a></p>

        </div>
    </div>
    <div class="carousel-item">
      <img src="./slide_3.JPG" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block landing-header">

        <h1>Landing Page!</h1>

        <h3>Welcome to YelpNutrition.</h3>

        <a class="btn btn-success" href="/campgrounds">View all nutrition.</a>

      </div>
    </div>
    <div class="carousel-item">
      <img src="./slide_1.JPG" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block landing-header">

        <h1>Landing Page!</h1>

        <h3>Welcome to YelpNutrition.</h3>

        <a class="btn btn-success" href="/campgrounds">View all nutrition.</a>

      </div>
    </div>
    <div class="carousel-item">
      <img src="./slide_3.JPG" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block landing-header">

        <h1>Landing Page!</h1>

        <h3>Welcome to YelpNutrition.</h3>

        <a class="btn btn-success" href="/campgrounds">View all nutrition.</a>

      </div>
    </div>
  </div>
</div>


<%- include("partials/footer.ejs") %>