<%- include("partials/header.ejs") %>

<div class="container-fluid"> <!-- container-fluid START -->
<h1>Sign Up. Hay relax guy!</h1>
<form action="/register" method="POST">
  <input type="text" name="username" placeholder="user brah">
  <input type="password" name="password" placeholder="password brah">
  <input type="submit" value="Sign Up!">
</form>
</div> <!-- container-fluid END -->

<%- include("partials/footer.ejs") %>